body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    font-size: 30px;
    background-image: url('./images/pexels-javon-swaby-3279691.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    font-weight: bolder;
    text-decoration: black 100px;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100vh;
    padding: 5px;
    margin: 20px 20px;
}

#main-div h1 {
    color: goldenrod;
    font-size: 120px;
}
#main-div{
   /* -webkit-text-stroke: 0.5px rgb(0, 0, 0); */
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    margin: auto;

}

#res-button:hover{
    color: red;
}
p {
    margin-top: 0;
}
#message-el {
    font-size: 45px;
    font-style: italic;
}

/* 3. Make sure that the two buttons have some space between
each other when they are rendered out vertically */
button {
    font-size: 15px;
    color: #016f32;
    width: 200px;
    height: 45px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    margin-bottom: 2px;
    margin-top: 5px;
}
button:hover {
    color: white;
}
#author{
    filter: blur(1px);
    margin-top: 20%;
}
/*Adding Media querys*/
/*-----Responsive for Phone----------*/
@media screen and (max-width: 600px){
    body {
        font-size: 22px;
        background-size: 370%;
        background-repeat: no-repeat;
        font-weight: bolder;
        max-width: 50%;
        max-height: 100vh;
        padding: 5px;
        margin: 20px 20px;
    }
    
    #main-div h1 {
        align-items: center;
        font-size: 60px;
    }
    #main-div{
       /* -webkit-text-stroke: 0.5px rgb(0, 0, 0); */
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        margin: auto;
    
    }
    
    #message-el {
        font-size: 25px;
        width: 155%;
    }
    
    /* 3. Make sure that the two buttons have some space between
    each other when they are rendered out vertically */
    button {
        width: 200px;
        height: 35px;
    }

    #author{
        font-size: 20px;
        margin-top: 20%;
    }
}

/*-----Responsive for Tablet----------*/
@media screen and (min-width: 600px) and (max-width: 1466px)  {
    body {
        font-size: 22px;
        background-size: 270%;
        max-width: 80%;
        max-height: 100vh;
        padding: 5px;
        margin: 20px 20px;
    }
    
    #main-div h1 {
        align-items: center;
        font-size: 75px;
    }
    #main-div{
       /* -webkit-text-stroke: 0.5px rgb(0, 0, 0); */
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        margin: auto;
    
    }
    
    #message-el {
        font-size: 35px;
        width: 110%;
    }
    
    /* 3. Make sure that the two buttons have some space between
    each other when they are rendered out vertically */
    #buttons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    #author{
        font-size: 20px;
        margin-top: 10%;
    }
}
