body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
  background-size: 150%;
  background-repeat: no-repeat;
  font-weight: bolder;
  text-decoration: black 100px;
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100vh;
  margin: 0;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: red;
}
.div-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.div-flex div{
  font-size: 20px;
  width: 100%;
  border-radius: 20px;
  padding: 3px;
}
#main-div h1 {
  margin-top: 10%;
  margin-bottom: 10%;
  color: goldenrod;
  font-size: 120px;
}
#main-div {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
#res-button:hover {
  color: red;
}
p {
  margin-top: 0;
  margin-bottom: 5%;
}
#message-el {
  font-size: 55px;
  font-style: italic;
  white-space: nowrap;
}
#message-el.horizTranslate {
  -webkit-text-stroke: 1px red;
}

#buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  margin: auto;

}

button {
  font-size: 15px;
  color: #016f32;
  width: 200px;
  height: 45px;
  background: goldenrod;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  margin-left: 5px;
  margin-bottom: 2px;
  margin-top: 5px;
}
button:hover {
  color: white;
}
#author {
  font-size: 30px;
  filter: blur(1px);
  margin-top: 20%;
}
/*-----Responsive for Phone----------*/
@media screen and (max-width: 600px) {
  body {
    font-size: 20px;
    background-size: 370%;
    max-width: 50%;
    max-height: 100vh;
  }
  .div-flex {
    margin:0px;
  }
  #main-div h1 {
    font-size: 80px;
  }
  #message-el {
    font-size: 30px;
  }
  #buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: auto;
  }
  #cards-el{
    white-space: nowrap;
  }
  #cards-elc{
    white-space: nowrap;
  }
}
/*-----Responsive for Tablet----------*/
@media screen and (min-width: 600px) and (max-width: 1166px) {
  body {
    font-size: 32px;
    background-size: 220%;
    max-width: 100%;
    max-height: 100%;
    padding: 5px;
    margin: 20px 20px;
  }
  #message-el {
    font-size: 45px;
  }
  #buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: auto;
  }
}
